---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import "aos/dist/aos.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Zentrix Innovate</title>
  </head>
  <body>
    <Navbar />

    <slot />

    <script>
      import AOS from "aos";
      import { createIcons, icons } from "lucide";

      AOS.init({
        duration: 800,
        easing: "ease-in-out",
        once: false,
      });

      document.addEventListener("DOMContentLoaded", () => {
        createIcons({ icons });
      });
    </script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
